
<div class="container-fluid">
   <div class="row">
      <div class="col">
         <p-table [value]="programaDeTvTable" [scrollable]="true" #video
                  [globalFilterFields]="['titulo','programaDeTv']"  
                  styleClass="p-mt-5"
                  scrollHeight="70vh"
                  [columns]="cols">
         
            <ng-template pTemplate="caption"> 
               <div class="container-fluid"  [formGroup]="selectVideoForm">

                  <div class="row" >
                     <div class="col-5">
                        <button  style="margin: 0.3em 1em;" class="btn btn-primary" (click)="addAnexos('intervalo')" >Add Int</button>
                        <button  style="margin: 0.3em 1em;" class="btn btn-primary" (click)="addAnexos('prePos')" >Add Pre Pos</button>
                        <!-- Example single danger button -->
                        <div class="btn-group">
                           <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add Blocos
                           </button>
                           <div class="dropdown-menu">
                              <a class="dropdown-item" style="cursor: pointer;" (click)="addAnexos('bloco1')" >Add Bloco 1</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="addAnexos('bloco2')" >Add Bloco 2</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="addAnexos('bloco3')" >Add Bloco 3</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="addAnexos('bloco4')" >Add Bloco 4</a>
                              <a class="dropdown-item" style="cursor: pointer;" (click)="addAnexos('bloco5')" >Add Bloco 5</a>
                           </div>
                        </div>
                        <button  style="margin: 0.3em 1em;" class="btn btn-success botao--vermelho" (click)="deleteSelected()" >Delete</button>
                     </div>

                     <div class="col-4">
                        <div style="display: flex; gap: 10px 20px; margin: 10px 0;">
                           <select class="select form-control" 
                                   formControlName="canaisFormControl" >
                             <option value="">Canal </option>
                             <option *ngFor="let canal of canais" [value]='canal._id'>
                               <span>{{canal.emissora}}</span>
                              </option>
                           </select>
                           <select class="select form-control" 
                                   formControlName="mimeTypeFormControl" >
                             <option value="">Tipo de Video </option>
                             <option *ngFor="let tipo of tiposDeVideo" [value]='tipo.value'>
                               <span>{{tipo.titulo}}</span>
                              </option>
                           </select>
                           <select class="select form-control" 
                                   formControlName="programaDeTvFormControl" >
                             <option value="">Prog de TV </option>
                             <option *ngFor="let programa of programaDeTvFiltered" [value]='programa.value'>
                               <span>{{programa.titulo}}</span>
                              </option>
                           </select>
                        </div>
                        <div   class="p-input-icon-left p-ml-auto" style="display: flex;">
                               <i class="pi pi-search"></i>
                               <input pInputText type="text" 
                                      formControlName="filtroDeBuscaFormControl"
                                      class="form-control" 
                                      (input)="video.filterGlobal($event.target.value, 'contains')" 
                                      placeholder="Busca por Titulo" />
                        </div>
                     </div>

                     <div class="col-3">
                        <div class="row">
                          <button style="margin: 0 1em 0 2em;height: 90%;" class="btn btn-success" >Upload</button>

                       </div>
                     </div>
                  </div>
                  
               </div>
         
            </ng-template>
            
            
            
            <ng-template pTemplate="colgroup" let-columns>
               <colgroup>
                  <col *ngFor="let col of columns">
               </colgroup>
            </ng-template>
         
            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th *ngFor="let col of columns" [style]="col.width">
                     {{col.header}}
                  </th>
                  <th></th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prog let-rowIndex="rowIndex" let-columns="columns">
               <tr (click)="abrirModalPrograma(prog)">
                  <td style="min-width: 400px;">{{prog.titulo}}</td>
                  <td style="min-width: 50px;">{{prog.canal}}</td>
                  <td style="min-width: 50px;">{{prog.tipo?prog.tipo:""}}</td>
                  <td style="min-width: 50px;">{{prog.bloco?prog.bloco:""}}</td>
                  <td style="min-width: 50px;">{{prog.usandoEm?prog.usandoEm:""}}</td>
                  <td></td>
               </tr>
            </ng-template>
         </p-table>

         <app-programa-modal
            [(visible)]="exibirProgramaModal"
            [programa]="programaSelecionadoModal"
            [programas]="programaDeTv">
         </app-programa-modal>

      </div>
   </div>
</div>