
<div class="container-fluid">
   <div class="row">
      <div class="col">
         <p-table [value]="programaDeTvTable" [scrollable]="true" #video
                  [globalFilterFields]="['titulo','programaDeTv']"  
                  styleClass="p-mt-5"
                  scrollHeight="70vh"
                  [columns]="cols">
         
            <ng-template pTemplate="caption"> 
               <div class="container-fluid"  [formGroup]="selectVideoForm">

                  <div class="programas__toolbar">
                     <button class="btn btn-primary" type="button" (click)="abrirModalCriacaoPrograma()">Criar</button>

                     <select class="select form-control programas__toolbar-control" 
                             formControlName="canaisFormControl" >
                       <option value="">Canal </option>
                       <option *ngFor="let canal of canais" [value]='canal._id'>
                         <span>{{canal.emissora}}</span>
                        </option>
                     </select>

                     <select class="select form-control programas__toolbar-control" 
                             formControlName="mimeTypeFormControl" >
                       <option value="">Tipo de Video </option>
                       <option *ngFor="let tipo of tiposDeVideo" [value]='tipo.value'>
                         <span>{{tipo.titulo}}</span>
                        </option>
                     </select>

                     <div class="p-input-icon-left programas__toolbar-search">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" 
                                   formControlName="filtroDeBuscaFormControl"
                                   class="form-control" 
                                   (input)="video.filterGlobal($any($event.target).value, 'contains')" 
                                   placeholder="Busca por Titulo" />
                     </div>
                  </div>
                  
               </div>
         
            </ng-template>
            
            
            
            <ng-template pTemplate="colgroup" let-columns>
               <colgroup>
                  <col *ngFor="let col of columns">
               </colgroup>
            </ng-template>
         
            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th *ngFor="let col of columns" [style]="col.width">
                     {{col.header}}
                  </th>
                  <th></th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prog let-rowIndex="rowIndex" let-columns="columns">
               <tr
                  class="programas__row"
                  [class.programas__row--selected]="clickedProgramaDeTv && clickedProgramaDeTv._id === prog._id"
                  (click)="abrirModalPrograma(prog)">
                  <td style="min-width: 400px;">{{prog.titulo}}</td>
                  <td style="min-width: 50px;">{{prog.canal}}</td>
                  <td style="min-width: 50px;">{{prog.tipo?prog.tipo:""}}</td>
                  <td style="min-width: 50px;">{{prog.bloco?prog.bloco:""}}</td>
                  <td style="min-width: 50px;">{{prog.usandoEm?prog.usandoEm:""}}</td>
                  <td></td>
               </tr>
            </ng-template>
         </p-table>

         <app-programa-modal
            [(visible)]="exibirProgramaModal"
            [programa]="programaSelecionadoModal"
            [programas]="programaDeTv"
            [canais]="canais"
            [tiposDeVideo]="tiposDeVideo"
            [modoCriacao]="modoCriacaoPrograma"
            [canalSelecionado]="selectedCanal"
            [tipoSelecionado]="selectedmimeType"
            (salvarPrograma)="salvarProgramaModal($event)"
            (deletarPrograma)="deletarProgramaModal($event)">
         </app-programa-modal>

      </div>
   </div>
</div>