<div class="container-fluid">
    <!-- NÃO DELETAR ESSE IFRAME. PRECISA DELE PRO AUTOPLAY DE AUDIO -->
    <iframe src="../../../assets/silence.mp3" 
     allow="autoplay" id="audio" style="display: none">
    </iframe>
  
    
    <div *ngIf="movieMode">
      <app-dvd-player [chapterPoints]="chapterPoints" 
           [data]="data" (mainMenu)="changeScreen('mainMenu',$event)" >
      </app-dvd-player>
    </div>
  
    <div *ngIf="menuMode" class="menu-container" [style]="backgroundMenu">
    
      <audio autoplay loop>
        <source [src]=menuAudioUrl type="audio/mpeg">
      </audio>
      
      <div *ngIf="selectedScreen == 'mainMenu'">

        <div class="main-menu-control">
          <span (click)="playMovie()" 
            class="main-menu-control__button">MOVIE</span>
          <span (click)="changeScreen('subtitlesMenu')"
            class="main-menu-control__button">SUBS</span>
          <span (click)="changeScreen('scenesMenu')"
            class="main-menu-control__button">SCENES</span>
          <span (click)="playTrailer()"
            class="main-menu-control__button">TRAILER</span>
        </div>

      </div>

    
      <div *ngIf="selectedScreen == 'subtitlesMenu'">
  
        <div class="main-menu-control">
          <span (click)="playMovie()" 
            class="main-menu-control__button">MOVIE</span>
          <span (click)="changeScreen('mainMenu')"
            class="main-menu-control__button">MENU</span>
          <span (click)="changeScreen('scenesMenu')"
            class="main-menu-control__button">SCENES</span>
          <span (click)="playTrailer()"
            class="main-menu-control__button">TRAILER</span>
        </div>
  
        <div class="subtitles-menu">
          <span class="subtitles-menu__button" *ngFor="let sub of subtitlesList"
                (click)="setSubtitle(sub.idioma)" >{{sub.idioma}}</span>
        </div>
        
      </div>
    
      <div *ngIf="selectedScreen == 'scenesMenu'">

        <div class="arrowWrap">
          <div class="arrowUp">
            <i-bs name="caret-up-fill" 
                  width="50" height="50"
                  (click)="scenePagination('up')">
            </i-bs>
          </div>
          <div class="arrowDown">
            <i-bs name="caret-down-fill" 
                  width="50" height="50"
                  (click)="scenePagination('down')">
            </i-bs>
          </div>
        </div>
  
        <div class="scenes">
          <div class="scene" *ngFor="let scene of chapterPoints; let i = index">
            <!-- <img [src]="returnSceneUrl(i)" alt=""> -->
            <video [src]="returnSceneUrl(i)" 
                  (click)="goToScene(i)" 
                  [controls]="false"
                  loop crossorigin="anonymous"
                  [muted]="true" autoplay>
            </video>

          </div>
        </div>
        
        <div class="main-menu-control">
          <span (click)="changeScreen('mainMenu')"
            class="main-menu-control__button">MENU</span>
        </div>

      </div>
  
    </div>

</div>
  