@mixin colorText {
	color: #42f4f4;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 35px;
	font-family: Arial Black, Gadget, sans-serif;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #42f4f4;
	-webkit-animation: animatedBackground_c 2s infinite alternate;    
}

.container-fluid{
    width: 100%;
    text-align: center;

    .menu-container{
        background-size: contain;
        width: 100%;
        height: 97vh;
        display: block;
        margin: auto;
        background-position: center;

        audio{
            visibility: hidden;
            position: absolute;
        }

        .main-menu-control{
            margin: auto;
            width: 80%;
            background: transparent;
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 59vh;
            &__button{
                cursor: pointer;
                color: #42f4f4;
                text-shadow: 0.5px 0.5px 0 #5e5e5e, 1px 1px 0 #666666;
                font-size: 35px;
                font-weight: bolder;        
                user-select: none;
                @include colorText
            }
        }
    }
}

.scenes{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 30px 20px;
    position: absolute;
    left: 50vw;
    transform: translate(-49%, 68px);
    padding: 5px;
    height: 55vh;
    overflow: hidden;
    .scene{
        width: 45%;
        &:nth-child(odd) {
            text-align: left;
          }
        &:nth-child(even) {
            text-align: right;
        }

    }
    video{
        opacity: 0.8;
        cursor: pointer;
        outline: solid #42f4f4;
        width: 75%;
    }
}
.arrowWrap{
    position: absolute;
    left: 50%;
    top: 9vw;
    color: #42f4f4;
    transform: translateX(-40vw);
    .arrowUp,
    .arrowDown{
        cursor: pointer;
    }
}

.subtitles-menu{
    text-align: left;
    position: relative;
    top: 39vh;
    display: flex;
    justify-content: space-evenly;

    &__button{
        cursor: pointer;
        color: #42f4f4;
        text-shadow: 0.5px 0.5px 0 #313131, 1px 1px 0 #666666;
        font-size: 35px;
        font-weight: bolder;        
        user-select: none;
        display: block;
        @include colorText
    }
}
