// @font-face {
//     font-family: "Oswald", sans-serif;
//     src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
//     font-weight: bolder;   
//     font-style: normal;
//     user-select: none;
//     font-optical-sizing: auto;
// }
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

@mixin textStyle {
    color: #FFF;
    cursor: pointer;
    font-size: 18px;    
    font-family: "Oswald", sans-serif;
}

.container-fluid{
    width: 100%;
    text-align: center;

    .menu-container{
        background-size: contain;
        width: 100%;
        height: 97vh;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;

        audio{
            visibility: hidden;
            position: absolute;
        }

        .main-menu-control{
            margin: auto;
            width: 30%;
            background: transparent;
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 44.5vh;
            left: -16vw;
            &__button{
                @include textStyle;
                &:hover {
                    color: red;
                  }
            }
            &__alt{
                top: 69.5vh;
                left: 6.5vw;
                color: #fff;
                &__button{
                    @include textStyle;
                }    
            }
        }
    }
}

.subtitles-menu{
    text-align: left;
    position: relative;
    top: 52vh;
    display: flex;
    justify-content: space-evenly;
    width: 47vw;
    left: 31vw;

    &__button{   
        @include textStyle;
        font-size: 35px;
        color: #fff;
    }
}

.scenes{
    margin: auto;
    position: absolute;
    left: 37vw;
    top: 6vh;
    width: 20vw;
    .scene{
        text-align: left;
        .scene-title{
            @include textStyle;
            color: #fff;
            font-size: 16px;
            margin: 15px;
            ;
        }
    }

    .scene-preview{
        width: 16vw;
        height: auto;
        position: absolute;
        right: -16vw;
        top: 33vh;
        outline: solid white 9px
    }
    
}

.extras{
    margin: auto;
    position: absolute;
    left: 37vw;
    top: 30.4vh;
    width: 20vw;
    text-align: left;
    .extra-title{
        @include textStyle;
        color: #fff;
        font-size: 16px;
        margin: 15px;
        ;
    }
}