.lista{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: mediumturquoise;
}

.botao{
    &--vermelho,
    &{
        background: red !important;
    }
}

.arquivoEmUso{
    background-color: green !important;
    color: white !important;
}

.btn{
    margin: 0.3em 1em;
}

.dropdown-item:hover {
    color: #fefeff;
    text-decoration: none;
    background-color: #0b74de;
}

.dropdown-item--danger:hover {
    color: #fefeff;
    text-decoration: none;
    background-color: red;
}

.dropdown-item--success:hover {
    color: #fefeff;
    text-decoration: none;
    background-color: green;
}