
<div class="container-fluid">
   <div class="row">
      <div class="col">
                <app-observables></app-observables>
         <p-table [value]="videosFiltered" selectionMode="multiple" [scrollable]="true" #video
                  [globalFilterFields]="['titulo','programaDeTv']"  
                  [(selection)]="selectedVideos" styleClass="p-mt-5"
                  (onRowSelect)="onRowSelect($event)" scrollHeight="70vh"
                  (onRowUnselect)="onRowUnselect($event)" dataKey="_id"
                  [columns]="cols">
         
            <ng-template pTemplate="caption"> 
               <div class="container-fluid"  [formGroup]="selectVideoForm">

                  <div class="row" >
                     <div class="col-5">
                        <button class="btn btn-primary" type="button"  *ngIf="windowInnerWidth < 900" (click)="retreiveFromMongoDB()" >Get all</button>
                        <button class="btn btn-primary" type="button"  *ngIf="windowInnerWidth < 900" (click)="playOnDemand()" >Play</button>
                     
                       <!-- PROG -->
                       <div class="btn-group"  *ngIf="windowInnerWidth > 900" >
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                  aria-haspopup="true" aria-expanded="false">
                                  PROG
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                            <button class="dropdown-item" type="button" (click)="retreiveFromMongoDB()" >Get all</button>
                            <button class="dropdown-item" type="button" (click)="getVideosFromSelectedProgramaDeTv()" >Get Prog</button>
                            <button class="dropdown-item" type="button" (click)="setProgramaDeTvOnMongoDB()" >Set Prog de Tv</button>
                            <button class="dropdown-item" type="button" (click)="setCanal()" >Set Canal</button>
                            <button class="dropdown-item dropdown-item--danger" type="button" (click)="clearProgFromSelected()" >Clear Prog</button>
                            <button class="dropdown-item dropdown-item--danger" type="button" (click)="deleteSelected()" >Delete</button>
                          </div>
                       </div>
                        <!-- SELECT -->
                       <div class="btn-group"  *ngIf="windowInnerWidth > 900" >
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                  aria-haspopup="true" aria-expanded="false">
                                  SELECT
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                            <button class="dropdown-item" type="button" (click)="clearSelect()" >Clear</button>
                            <button class="dropdown-item" type="button" (click)="selectAll()" >All</button>
                          </div>
                       </div>
                        <!-- ORDER -->
                       <div class="btn-group"  *ngIf="windowInnerWidth > 900" >
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                  aria-haspopup="true" aria-expanded="false">
                                  ORDER
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                             <button class="dropdown-item" type="button" (click)="setRandom()" >Set Random</button>
                             <button class="dropdown-item" type="button" (click)="setOrder()" >Set Order</button>
                             <button class="dropdown-item" type="button" (click)="addOrder()" >Add Order</button>
                             <button class="dropdown-item" type="button" (click)="clearOrder()" >Clear Order</button>
                          </div>
                       </div>
                        <!-- ADDED -->
                       <div class="btn-group"  *ngIf="windowInnerWidth > 900" >
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                  aria-haspopup="true" aria-expanded="false">
                                  ADDED
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                             <button class="dropdown-item" type="button" (click)="resetAdded()" >Reset Added</button>
                             <button class="dropdown-item" type="button" (click)="setAdded()" >Set Added</button>
                             <button class="dropdown-item" type="button" (click)="setSub()" >Add Sub</button>
                          </div>
                       </div>
                       <div  style="margin-top: 10px; display: flex; gap: 10px 20px;"  *ngIf="windowInnerWidth > 900" >
                          <button class="btn btn-primary" (click)="criarProgramaOnMongoDb()" >
                                  Criar</button>
                          <input style="width: 74%;" [formControl]="novoPrograma" type="text" placeholder="Nome do Programa" class="form-control">
                       </div>
                     </div>

                     <div class="col-4">
                        <div style="display: flex; gap: 10px 20px; margin: 10px 0;">
                           <select class="select form-control"  *ngIf="windowInnerWidth > 900"
                                   formControlName="canaisFormControl" >
                             <option value="">Canal </option>
                             <option *ngFor="let canal of canais" [value]='canal._id'>
                               <span>{{canal.emissora}}</span>
                              </option>
                           </select>
                           <select class="select form-control" 
                                   formControlName="mimeTypeFormControl" >
                             <option value="">Tipo de Video </option>
                             <option *ngFor="let tipo of tiposDeVideo" [value]='tipo.value'>
                               <span>{{tipo.titulo}}</span>
                              </option>
                           </select>
                           <select class="select form-control" *ngIf="windowInnerWidth > 900"
                                   formControlName="programaDeTvFormControl" >
                             <option value="">Prog de TV </option>
                             <option *ngFor="let programa of programaDeTvFiltered" [value]='programa.value'>
                               <span>{{programa.titulo}}</span>
                              </option>
                           </select>
                        </div>
                        <div   class="p-input-icon-left p-ml-auto" style="display: flex;">
                               <i class="pi pi-search"></i>
                               <input pInputText type="text" 
                                      formControlName="filtroDeBuscaFormControl"
                                      class="form-control" 
                                      (input)="video.filterGlobal($event.target.value, 'contains')" 
                                      placeholder="Busca por Canal ou Programa" />
                        </div>
                     </div>

                     <div class="col-3" *ngIf="windowInnerWidth > 900">
                        <div class="row">
                          <button style="margin: 0.3em 1em;" class="btn btn-success" (click)="getNewFileOnDirectory()" >Get New on Dir</button>
                          <!-- bodao upload -->
                          <button style="margin: 0 1em 0 2em;height: 90%;" class="btn btn-success" type="button" (click)="playOnDemand()" >Play</button>
                          <app-file-upload [videosToUpload]="videosToUpload"
                                           [selectedmimeType]="selectedmimeType" 
                                           [selectedCanal]="selectedCanal" 
                                           [selectedProgramaDeTv]="selectedProgramaDeTv" 
                                           [tituloAtracao]="tituloAtracao"
                                           [url]="asembleUploadUrl()" >
                          </app-file-upload>
                        </div>
                     </div>
                  </div>
                  
               </div>
         
            </ng-template>
            
            
            
            <ng-template pTemplate="colgroup" let-columns>
               <colgroup>
                  <col *ngFor="let col of columns">
               </colgroup>
            </ng-template>
         
            <ng-template pTemplate="header" let-columns>
               <tr [pSelectableRow]="video">
                  <th *ngFor="let col of columns" [style]="col.width">
                     {{col.header}}
                  </th>
                  <th></th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-video let-rowIndex="rowIndex" let-columns="columns">
               <tr [pSelectableRow]="video" [pSelectableRowIndex]="rowIndex">
                  <td style="min-width: 400px">{{video.titulo}}</td>
                  <td style="min-width: 50px;">{{sts.toTime(video.duracao)}}</td>
                  <td style="min-width: 250px;">{{getTituloProgramaDeTv(video.programaDeTv)}}</td>
                  <td style="min-width: 50px;">{{video.canal}}</td>
                  <td style="min-width: 50px;">{{video.tipo?video.tipo:""}}</td>
                  <td style="min-width: 50px;">{{video.added?"True":"False"}}</td>
                  <td style="min-width: 50px;">{{video.order?video.order:""}}</td>
                  <td style="min-width: 50px;">{{(video.cortesParaIntervalo.length||video.comComerciais)?"OK":"Pendente"}}</td>
                  <td></td>
               </tr>
            </ng-template>
         </p-table>

      </div>
   </div>
</div>