<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link [href]="googleFont" rel="stylesheet">

<div class="container-fluid">
      <!-- NÃO DELETAR ESSE IFRAME. PRECISA DELE PRO AUTOPLAY DE AUDIO -->
      <iframe src="../../../assets/silence.mp3" 
       allow="autoplay" id="audio" style="display: none">
      </iframe>
    
      
      <div *ngIf="movieMode">
        <app-dvd-player [chapterPoints]="chapterPoints" 
             [data]="data" (mainMenu)="changeScreen('mainMenu',$event)" >
        </app-dvd-player>
      </div>
    
      <div *ngIf="menuMode" class="menu-container" [style]="backgroundMenu">
<!--       
        <audio autoplay loop>
          <source [src]=menuAudioUrl type="audio/mpeg">
        </audio> -->
        
        <div>
  
          <div class="main-menu-control" *ngIf="selectedScreen == 'mainMenu'">
            <span (click)="playMovie()" 
              class="main-menu-control__button">{{labels.movie}}</span>
            <span (click)="changeScreen('mainMenu')" *ngIf="selectedScreen != 'mainMenu'"
              class="main-menu-control__button">{{labels.menu}}</span>
            <span (click)="changeScreen('scenesMenu')" *ngIf="selectedScreen != 'scenesMenu'"
              class="main-menu-control__button">{{labels.scenes}}</span>
            <span (click)="changeScreen('subtitlesMenu')" *ngIf="selectedScreen != 'subtitlesMenu'"
              class="main-menu-control__button">{{labels.languages}}</span>
            <span (click)="playTrailer()"
              class="main-menu-control__button">{{labels.trailer}}</span>
          </div>
  
          <div class="subtitles-menu" *ngIf="selectedScreen == 'subtitlesMenu'">
            <span class="subtitles-menu__button">{{labels.subtitles}}</span>
            <span class="subtitles-menu__button" *ngFor="let sub of subtitlesList"
                  (click)="setSubtitle(sub.idioma)" >{{sub.titulo}}</span>
          </div>
  
          <div class="audio-language-menu" *ngIf="selectedScreen == 'subtitlesMenu'">
            <span class="audio-language-menu__button">{{labels.audio}}</span>
            <span class="audio-language-menu__button" *ngFor="let audio of audioList"
                  (click)="setAudioLanguage(audio)" >{{audio.titulo}}</span>
          </div>
          
  
          <div class="main-menu-control" *ngIf="selectedScreen == 'scenesMenu'">
            <span (click)="playMovie()" 
              class="main-menu-control__button">{{labels.movie}}</span>
            <span (click)="changeScreen('mainMenu')"
              class="main-menu-control__button">{{labels.menu}}</span>
            <span (click)="changeScreen('subtitlesMenu')"
              class="main-menu-control__button">{{labels.languages}}</span>
            <span (click)="playTrailer()"
              class="main-menu-control__button">{{labels.trailer}}</span>
          </div>
 
          <div class="scenes"  *ngIf="selectedScreen == 'scenesMenu'">
            <div class="scene" *ngFor="let scene of chapterPoints; let i = index" 
                 (click)="goToScene(i)" (mouseenter)="hoverScene(i)" >
               <span class="scene-title">
                   {{scene.title}}
               </span>
            </div>
          </div>
          
          <video *ngIf="selectedScreen == 'scenesMenu' && exibeScenePreview" class="scene-preview"
            [controls]="false"
            loop crossorigin="anonymous"
            [muted]="true" autoplay>
            <source [src]="scenePreviewUrl" type="video/mp4" />
          </video>
  
        </div> 
    
        <!-- <div *ngIf="selectedScreen == 'scenesMenu'"
             class="scene-selection-menu-control">
        </div> -->
        
    
      </div>
  
  </div>
    