@mixin colorText {
	color: #42f4f4;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 40px;
    font-family: 'Limelight';
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #42f4f4;
    cursor: pointer;
    text-shadow: 0.5px 0.5px 0 #3a9c9c, 1px 1px 0 #3a9c9c;
    font-weight: bolder;        
    user-select: none;
}


.container-fluid{
    width: 100%;
    text-align: center;

    .menu-container{
        background-size: contain;
        width: 100%;
        height: 100vh;
        display: block;
        margin: auto;
        background-position: center;

        audio{
            visibility: hidden;
            position: absolute;
        }

        .main-menu-control{
            margin: auto;
            width: 80%;
            background: transparent;
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 80vh;
            &__button{
                @include colorText
            }
        }
    }
}

.scenes{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 30px 20px;
    position: absolute;
    left: 50vw;
    transform: translate(-52%, 68px);
    padding: 5px;
    height: 70vh;
    overflow: hidden;
    .scene{
        width: 45%;
        &:nth-child(odd) {
            text-align: left;
          }
        &:nth-child(even) {
            text-align: right;
        }

    }
    video{
        opacity: 0.8;
        cursor: pointer;
        // outline: solid #42f4f4;
        width: 54%;
        
        border:5px solid #42f4f4;
        // width:300px;
        // top:150px;
        border-radius:20px;
        // left:50%;
        // margin: -50px 0 0 -150px;
        animation: border-flicker 2s linear infinite;


    }
}
.arrowWrap{
    position: absolute;
    left: 50%;
    top: 20vw;
    color: #42f4f4;
    transform: translateX(-40vw);
    .arrowUp,
    .arrowDown{
        cursor: pointer;
    }
}

.subtitles-menu{
    text-align: left;
    position: relative;
    top: 39vh;
    display: flex;
    justify-content: space-evenly;

    &__button{
        cursor: pointer;
        font-size: 35px;
        font-weight: bolder;        
        user-select: none;
        display: block;
        @include colorText
    }
}
