/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

// <!-- VIDEO ELEMENT SEM WRAP -->
video {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
}

.square {
    width: 120vh !important;
    height: 100vh !important;
    object-fit: fill;
}



.image-visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}


.maldicaodamosca {
    // width: 110vw;
    // height: 80vh;
    // object-fit: fill;
    // object-fit: contain;
    // object-fit: cover;
    // object-fit: scale-down;
    // object-fit: none;
    // position: relative;
    // left: -5.8vw;
    // top: 5vh
}

.movieMode {
    width: 100%;
    background: transparent;
    height: 100vh;
    display: block;
    margin: auto;

    img {
        height: 100%;
        width: auto;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

// <!-- CONTROLES DE VIDEO (PAUSE, PLAY, BARRA DE TEMPO... ) -->
@mixin movieModeControlls {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 34px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 1%;
    cursor: pointer;
    padding: 0;
}

.movieMode--controls {
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    position: relative;
    bottom: 2vh;

    &__main {
        @include movieModeControlls();
        transform: translate(400px, 0px);
    }

    &__fullscreen {
        @include movieModeControlls();
        transform: translate(518px, 0px);
    }

    &__previous {
        @include movieModeControlls();
        transform: translate(80px, 2px);
    }

    &__next {
        @include movieModeControlls();
        transform: translate(250px, 0px);
    }

    &__play {
        @include movieModeControlls();
        transform: translate(465px, 0px);
    }

    &__pause {
        @include movieModeControlls();
        transform: translate(420px, 0px);
    }

    &__time {
        @include movieModeControlls();
        font-size: 20px;
        transform: translate(-570px, -20px);
    }

    &__subs {
        @include movieModeControlls();
        transform: translate(510px, 5px);

        // height: 300px;
        &__list {
            position: absolute;
            list-style-type: none;
            bottom: 60px;
            font-size: 19px;
            right: 0;
            background: #fff;
            color: #000;
            box-sizing: border-box;
            padding: 5px;
            border-radius: 5px;
        }
    }

    .tituloVideoRodando {
        white-space: nowrap;
        @include movieModeControlls();
        position: absolute;
        transform: translate(-570px, -60px);
    }
}

.videoBarWrap {
    position: absolute;
    bottom: 1%;
    width: 100vw !important;
    transform: translate(0px, -50px);
    cursor: pointer;

    input {
        width: 80%;
        cursor: pointer;
    }

    input[type=range].videobar {
        width: 100% !important;
        margin: 3.3px 0;
        background-color: transparent;
        -webkit-appearance: none;
    }

    input[type=range].videobar:focus {
        outline: none;
    }

    input[type=range].videobar::-webkit-slider-runnable-track {
        background: #d8d8d8;
        border: 0.2px solid #010101;
        border-radius: 1.3px;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
    }

    input[type=range].videobar::-webkit-slider-thumb {
        margin-top: -3.5px;
        width: 16px;
        height: 15px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
    }

    input[type=range].videobar:focus::-webkit-slider-runnable-track {
        background: #e5e5e5;
    }

    input[type=range].videobar::-moz-range-track {
        background: #d8d8d8;
        border: 0.2px solid #010101;
        border-radius: 1.3px;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
    }

    input[type=range].videobar::-moz-range-thumb {
        width: 16px;
        height: 15px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
    }

    input[type=range].videobar::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 4.3px 0;
        color: transparent;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
    }

    input[type=range].videobar::-ms-fill-lower {
        background: #cbcbcb;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
    }

    input[type=range].videobar::-ms-fill-upper {
        background: #d8d8d8;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
    }

    input[type=range].videobar::-ms-thumb {
        width: 16px;
        height: 15px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
    }

    input[type=range].videobar:focus::-ms-fill-lower {
        background: #d8d8d8;
    }

    input[type=range].videobar:focus::-ms-fill-upper {
        background: #e5e5e5;
    }

    /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
    @supports (-ms-ime-align:auto) {

        /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
        input[type=range].videobar {
            margin: 0;
            /*Edge starts the margin from the thumb, not the track as other browsers do*/
        }
    }

    .pontosDeCorteNaVideobar{
        margin: auto;       
        width: 80%;
        height: 34px; 
        position: relative;
        .tag-ponto-de-corte{

            background-color: lightcyan !important; 
            position: absolute;
            display: inline-block;
            height: 1.2em;
            max-width: 100px;
            // transform: translateX(25px);
            padding: 2px;
            border-radius: 1px;
        }
    }

}

.audioVolumeBarWrap {
    width: 150px;
    left: 50%;
    bottom: 1.5%;
    position: absolute;
    transform: translate(272px, -12px);

    input[type=range].audiovolumebar {
        width: 100%;
        margin: 5.75px 0;
        background-color: transparent;
        -webkit-appearance: none;
    }

    input[type=range].audiovolumebar:focus {
        outline: none;
    }

    input[type=range].audiovolumebar::-webkit-slider-runnable-track {
        background: #ffffff;
        border: 0.2px solid #010101;
        border-radius: 1.3px;
        width: 100%;
        height: 4.5px;
        cursor: pointer;
    }

    input[type=range].audiovolumebar::-webkit-slider-thumb {
        margin-top: -5.95px;
        width: 16px;
        height: 16px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
    }

    input[type=range].audiovolumebar:focus::-webkit-slider-runnable-track {
        background: #ffffff;
    }

    input[type=range].audiovolumebar::-moz-range-track {
        background: #ffffff;
        border: 0.2px solid #010101;
        border-radius: 1.3px;
        width: 100%;
        height: 4.5px;
        cursor: pointer;
    }

    input[type=range].audiovolumebar::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
    }

    input[type=range].audiovolumebar::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 6.75px 0;
        color: transparent;
        width: 100%;
        height: 4.5px;
        cursor: pointer;
    }

    input[type=range].audiovolumebar::-ms-fill-lower {
        background: #f2f2f2;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
    }

    input[type=range].audiovolumebar::-ms-fill-upper {
        background: #ffffff;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
    }

    input[type=range].audiovolumebar::-ms-thumb {
        width: 16px;
        height: 16px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
    }

    input[type=range].audiovolumebar:focus::-ms-fill-lower {
        background: #ffffff;
    }

    input[type=range].audiovolumebar:focus::-ms-fill-upper {
        background: #ffffff;
    }

    /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
    how to remove the virtical space around the range input in IE*/
    @supports (-ms-ime-align:auto) {

        /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
        input[type=range].audiovolumebar {
            margin: 0;
            /*Edge starts the margin from the thumb, not the track as other browsers do*/
        }
    }

}

.audioVolumeIconWrap {
    cursor: pointer;
    left: 50%;
    bottom: 0%;
    position: absolute;
    transform: translate(223px, -9px);

    i-bs {
        color: white;
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


// <!-- MENUS PARA SELEÇÃO DE VIDEO -->
#selectWrap {
    width: 100vw;
    top: 0vh;
    z-index: 999;
    left: 0;
    position: fixed;
    padding: 10vh;
}

select {
    visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    margin: 0 30px 0 0;
}

#selectWrap:hover>select {
    visibility: visible;
}

span {
    padding: 30px;
    display: block;
}

.filmeListItem {
    padding: 10px;
}

// LEGENDA
::cue {
    font-size: 2.3rem;
    font-weight: bold;
    background: transparent;
    color:#e8e67d;
    text-shadow: 2px 2px #000;
}

/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// <!-- PAINEL PARA CADASTRO DE INTERVALOS E OUTRAS PROPRIEDADES -->
.btn-modo-cadastro {
    opacity: 0;
    display: none;

    @media only screen and (min-width: 1290px) {
        display: initial;

        &:hover {
            opacity: 1;
        }
    }
}

.controle-cadastro-de-video {
    position: fixed;
    top: 20vh;
    left: 0;
    z-index: 50910;

    &--esquerdo,
    &--direito {
        background: lightgreen;
        padding-top: 20px;
    }

    .botao-tempo {
        display: block;
        margin-bottom: 20px;
        width: 150px;
    }

    .ponto-de-corte {
        position: relative;
        cursor: pointer;

        p {
            position: fixed;
            bottom: 38px;
            left: 10px;
            background: white;
        }

    }

    .botao-add-remove-pontos {
        font-weight: bold;
        line-height: 10px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        margin: 10px;

        p {
            position: absolute;
            left: 4px;
            top: 7px;
            font-size: 40px;
        }

        &--menos {
            left: 10px !important;
        }
    }

    .boostcontrols{
        &__boostValue{
            font-size: 20px;
        }
    }
}