<!-- VIDEO ELEMENT SEM WRAP -->
<video preload="auto" crossorigin="anonymous" autoplay mousevolume *ngIf="exibeVideo"
       class="movieMode" [ngClass]="{'maldicaodamosca': maldicaodamosca,'square': square}"
       [ngStyle]="{'opacity':screenOpacity}"
       (pause)="videoPausado()"
       (play)="videoStartado()" (click)="clickScreenMovie()">
        <source [src]=url [type]="tipodeVideo">
        <track label="Legenda 1" kind="subtitles" srclang="en" [src]=subUrl default>
          Your browser does not support the video tag.
</video>

<!-- CONTROLES DE VIDEO (PAUSE, PLAY, BARRA DE TEMPO... ) -->
<div class="movieMode--controls"
     [ngStyle]="{'visibility': (mouseMoving||modoCadastro) ? 'visible' : 'hidden'}">
  <h1 class="tituloVideoRodando">{{nomeDoFilmeAtual?nomeDoFilmeAtual.split(".")[0].replace('Dublado - ',''):""}}</h1>

 <span (click)="fullScreen()"
   class="movieMode--controls__fullscreen">
   <i-bs *ngIf="!fullScreenMode" name="fullscreen" width="50" height="50"></i-bs>
   <i-bs *ngIf="fullScreenMode"  name="fullscreen-exit" width="50" height="50"></i-bs>
 </span>

 <!-- <span class="movieMode--controls__subs">
   <ul class="movieMode--controls__subs__list"
      [ngStyle]="{'display': exibeSubList ? 'initial' : 'none'}">
     <li *ngFor="let sub of subtitlesList" 
         (click)="setSubtitleFromPlayer(sub.fileName)" >{{sub.idioma}}</li>
   </ul>
  <i-bs name="chat-left-text" width="50" height="50"
        (click)="toggleSubsList()"></i-bs>
</span> -->
 <span class="movieMode--controls__time">
  {{videoCurrentTime}}/{{commonServices.toTime(duracaoVideoSelecionado)}}
 </span>

 <span (click)="clickPauseMovie()"
   class="movieMode--controls__pause">
   <i-bs *ngIf="pause" name="play-fill" width="50" height="50"></i-bs>
   <i-bs *ngIf="!pause" name="pause-fill" width="50" height="50"></i-bs>
 </span>

 <!-- <span (click)="clickNextChapter()"
   class="movieMode--controls__next">
   <i-bs name="skip-forward-fill" width="50" height="50"></i-bs>
 </span>
 
 <span (click)="clickPreviousChapter()"
   class="movieMode--controls__previous">
   <i-bs name="skip-backward-fill" width="50" height="50"></i-bs>
 </span> -->

 <div class="audioVolumeBarWrap">
     <input type="range" [formControl]="audiovolumebar"
           (class)="audiovolumebar"
           (input)="updatevideoVolumeOnBarChange()">
 </div>

 <div class="audioVolumeIconWrap" (click)="toggleVolume()">

     <i-bs *ngIf="!muteVolume&&audiovolumebar.value>0
                  &&audiovolumebar.value<=30" 
           name="volume-off-fill" width="50" height="50"></i-bs>

     <i-bs *ngIf="!muteVolume&&audiovolumebar.value>30
                  &&audiovolumebar.value<=60" 
           name="volume-down-fill" width="50" height="50"></i-bs>
           
     <i-bs  *ngIf="!muteVolume&&audiovolumebar.value>60" 
           name="volume-up-fill" width="50" height="50"></i-bs>

     <i-bs *ngIf="muteVolume||audiovolumebar.value==0"
           name="volume-mute-fill" width="50" height="50"></i-bs>
 </div>

 <div class="videoBarWrap" mousevolume>
   <input type="range" [formControl]="videobar"
         step="0.1"
         (click)="clickVideoBar()"
         (class)="videobar" id="volume"
         (input)="updatevideoTimeOnBarChange()">

 </div>
</div>

<br>

<!-- MENUS PARA SELEÇÃO DE VIDEO -->
<div  id="selectWrap" [formGroup]="selectVideoForm">
  <select class="select form-control" 
          formControlName="noiteFilmesFormControl" 
          (change)="selecionaFilme($event.target.value)">
    <option value="">Noite </option>
    <option *ngFor="let filme of videoFilmesDaTia" [value]='filme.id'>
      <div><span>{{filme.titulo.replace("Dublado - ","")}}</span></div></option>
  </select>
</div>