<video preload="auto" crossorigin="anonymous" (ended)="proximo()"  mousevolume   class="desktop-only"
       *ngIf="exibirVideo && this.windowInnerWidth>500" autoplay>
  <source [src]=urlMediaPath [type]="mimeType">
  Your browser does not support the video tag.
</video>

<span *ngIf="exibirVideo && this.windowInnerWidth>500 && exibeNumCanal" class="numCanal">{{numCanal}}</span>
<div class="esq" *ngIf="viewport < 2.3"></div>
<div class="dir" *ngIf="viewport < 2.3">
  <div class="arrowWrap">
    <div class="arrowUp">
      <i-bs name="caret-up-fill" 
            width="100" height="100"
            (click)="zapchannel('up')">
      </i-bs>
    </div>
    <div class="arrowDown">
      <i-bs name="caret-down-fill" 
            width="100" height="100"
            (click)="zapchannel('down')">
      </i-bs>
    </div>
  </div>
</div>

<!-- CONTROLES DE VIDEO (PAUSE, PLAY, BARRA DE TEMPO... ) -->
<div class="movieMode--controls desktop-only" [ngStyle]="{'visibility': mouseIsMoving ? 'visible' : 'hidden'}">

  <span (click)="fullScreen()" class="movieMode--controls__fullscreen">
    <i-bs *ngIf="!isFullScreenMode" name="fullscreen" width="50" height="50"></i-bs>
    <i-bs *ngIf="isFullScreenMode" name="fullscreen-exit" width="50" height="50"></i-bs>
  </span>


  <span (click)="clickPauseMovie()" class="movieMode--controls__pause">
    <i-bs *ngIf="videoIsPaused" name="play-fill" width="50" height="50"></i-bs>
    <i-bs *ngIf="!videoIsPaused" name="pause-fill" width="50" height="50"></i-bs>
  </span>

</div>

<p class="logo" [ngClass]="{'text-logo-visible':textLogoVisible}"><img src="../../assets/logos/globo.png" alt=""></p>
<p class="text" [ngClass]="{'text-logo-visible':textLogoVisible}">{{textoAbaixoDoLogo}}</p>

<app-mobile-remote 
  *ngIf="this.windowInnerWidth<500" 
  [selectedCanal]="selectedCanal"
  [arrayNumerosCanais]="arrayNumerosCanais"
  (channelChange)="changeChannel($event)"
  (directionChange)="zapchannel($event)">
</app-mobile-remote>