<div class="dropdown-menu dropdown-menu-left">
    <button class="dropdown-item" type="button" (click)="retreiveFromMongoDB()" >Get all</button>
    <button class="dropdown-item" type="button" (click)="getVideosFromSelectedProgramaDeTv()" >Get Prog</button>
    <button class="dropdown-item" type="button" (click)="setProgramaDeTvOnMongoDB()" >Set Prog de Tv</button>
    <button class="dropdown-item" type="button" (click)="setCanal()" >Set Canal</button>
    <button class="dropdown-item dropdown-item--danger" type="button" (click)="clearProgFromSelected()" >Clear Prog</button>
    <button class="dropdown-item dropdown-item--danger" type="button" (click)="deleteSelected()" >Delete</button>
</div>