<div class="painel">
    <div class="container-fluid" [formGroup]="selectVideoForm" style="margin-bottom: 1rem;">
        <div class="row">
            <div class="col-4">
                <h1 class="p-4">Grade</h1>
                <div style="display: flex; gap: 10px 20px; margin: 10px 0;">
                    <select class="select form-control" formControlName="canaisFormControl">
                        <option value="">Canal </option>
                        <option *ngFor="let canal of canais" [value]='canal._id'>
                            <span>{{canal.emissora}}</span>
                        </option>
                    </select>
                    <select class="select form-control" formControlName="programaDeTvFormControl">
                        <option value="">Prog de TV </option>
                        <option *ngFor="let programa of programaDeTv" [value]='programa.value'>
                            <span>{{programa.titulo}}</span>
                        </option>
                    </select>
                </div>
                <div style="display: flex; gap: 10px 20px; margin: 10px 0;">
                    <select class="select form-control" formControlName="semanaFormControl">
                        <option value="">Dia da Semana</option>
                        <option *ngFor="let diaDaSemana of listaDeNomesDosDiasDaSemanaSemProgramaMontado" [value]='diaDaSemana'>
                            <span>{{diaDaSemana | titlecase }}</span>
                        </option>
                    </select>

                    <button class="btn btn-success" (click)="toggleSemanaDestino()">
                        <span style="font-weight:bolder">></span>
                    </button>
                    <select class="select form-control"
                        [ngStyle]="{'visibility': exibeSemanaDestino ? 'visible' : 'hidden'}"
                        formControlName="semanaDestinoFormControl">
                        <option value="">Dia da Semana Destino</option>
                        <option *ngFor="let diaDaSemana of listaDeNomesDosDiasDaSemana" [value]='diaDaSemana'>
                            <span>{{diaDaSemana | titlecase }}</span>
                        </option>
                    </select>
                </div>
                <div style="margin-top: 10px; display: flex; gap: 10px 20px;">
                    <button class="btn btn-primary" (click)="adicionarPrograma()">
                        Add</button>

                    <button class="btn btn-danger" (click)="removePrograma()">
                        Del</button>

                    <button class="btn btn-primary" (click)="subirLista()">
                        Save</button>

                    <button class="btn btn-primary" (click)="getLista()">
                        Get</button>

                    <button class="btn btn-success" *ngIf="exibeSemanaDestino" (click)="replicaListaDaSemana()">
                        Copy</button>

                    <button class="btn btn-success" (click)="updateListaDaSemana()">
                        Update</button>

                    <button class="btn btn-success" *ngIf="exibeSemanaDestino||gd.getListaParaUpdate()"
                        (click)="replicaNext()">
                        Next</button>
                </div>
            </div>
            <div class="col-3 info-selected" *ngIf="gd.getBlocoClicado() as info">
                <p>Atração: <span>{{info.atracao}}</span></p>
                <p style="max-height: 52.8px;">Arquivo: <span>{{info.titulo}}</span></p>
                <p>Tipo: <span>{{info.tipo}}</span></p>
            </div>
            <div class="col-3 info-selected" *ngIf="gd.getBlocoClicado() as info">
                <p>Horário de Exibição: <span>{{info.horarioDeExibicao}}</span></p>
                <p>Ponto Inicio: <span>{{info.inicio * 1000 | date:'mm:ss'}}</span></p>
                <p>Ponto Final: <span>{{info.final * 1000 | date:'mm:ss'}}</span></p>
                <p>Duração: <span>{{info.duracaoTotalDaAtracaoEmSegundos * 1000 | date:'mm:ss' }}</span></p>
            </div>
            <div class="col-2 info-selected" *ngIf="programaMontadoSelectionado as info">
                <p>Atração: <span>{{info.tituloAtracao}}</span></p>
                <p style="max-height: 52.8px;">Arquivo: <span>{{info.arquivo}}</span></p>
                <p>Horário de Exibição: <span>{{info.horarioDeExibicao}}</span></p>
                <p>Duração: <span>{{info.tempoTotal }}</span></p>
            </div>
            <div class="col-2 info-selected" *ngIf="programaMontadoSelectionado">
                <ul style="overflow-y:scroll; max-height: 180px;">
                    <li *ngFor="let bloco of programaMontadoSelectionado.blocos"
                        style="cursor:pointer;margin-bottom: 5px;"
                        (click)="clickBlocoFromProgramaMontado(bloco,programaMontadoSelectionado.dia,bloco.indice)">
                        {{bloco.titulo}}
                    </li>
                </ul>
            </div>
            <div class="col-2 info-selected" *ngIf="gd.getBlocoClicado() as info">
                <p>Tipo: <span>{{info.tipo}}</span></p>
                <p>Horário de Exibição: <span>{{info.horarioDeExibicao}}</span></p>
                <p>Duração: <span>{{info.duracaoTotalDaAtracaoEmSegundos * 1000 | date:'mm:ss' }}</span></p>
                <p>Ponto Inicio: <span>{{info.inicio * 1000 | date:'mm:ss'}}</span></p>
                <p>Ponto Final: <span>{{info.final * 1000 | date:'mm:ss'}}</span></p>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngFor="let diaDaSemana of listaDeNomesDosDiasDaSemana">
        <div class="row" *ngIf="gd.getListaCanal()?.[diaDaSemana]?.length > 0 &&
                                (diaDaSemana == gd.getSelectedDiaDaSemana() || diaDaSemana == selectedDiaDestinoDaSemana)">
            <div class="col-1" [ngStyle]="{'background': gd.getSelectedDiaDaSemana()==diaDaSemana ? 'lightgreen' : 'white'}">
                <p>Dia Da Semana</p>
                <p>{{diaDaSemana | titlecase }}</p>
            </div>
            <div class="col-11" style="overflow: auto;">
                <div class="dozeHoras">
                    <div class="hora" *ngFor="let hora of horas; index as i">
                        {{i==0?"6:30":hora}}
                    </div>
                    <div class="hora" style="width: 180px !important;">6:00</div>
                </div>
                <div class="dozeHoras">
                    <app-bloco 
                            *ngFor="let bloco of gd.getListaCanal()[diaDaSemana]; index as i" 
                            (click)="clickBloco(bloco,diaDaSemana,i)"
                            [bloco]="bloco" 
                            [blocoIsSelected]="blocoIsSelected(diaDaSemana,i)">
                    </app-bloco>
                </div>
                <!-- ABAIXO O TEMPLATE DO BLOCO QUE VAI SER PROGRAMA MONTADO -->
                <div class="dozeHoras">
                    <app-programa-montado
                        *ngFor="let programaMontado of gd.getListaCanal()[diaDaSemana+'ProgramaMontado']; index as i"
                        (click)="getInfoProgramaMontado(programaMontado,diaDaSemana,i)"
                        [programaMontado]="programaMontado"
                        [programaMontadoIsSelected]="programaMontadoIsSelected(diaDaSemana,i)"
                    ></app-programa-montado>
                </div>
                <!-- ACIMA O TEMPLATE DO BLOCO QUE VAI SER PROGRAMA MONTADO -->
            </div>
        </div>
    </div>


    <div class="container-fluid" *ngIf="gd.getListaParaUpdate()&&gd.getListaParaUpdate().length>0">
        <div class="row">
            <div class="col-1" [ngStyle]="{'background': gd.getSelectedDiaDaSemana()==gd.getSelectedDiaDaSemana() ? 'lightgreen' : 'white'}">
                <p>Dia Da Semana Em Update</p>
                <p>{{gd.getSelectedDiaDaSemana() | titlecase }}</p>
            </div>
            <div class="col-11" style="overflow: auto;">
                <div class="dozeHoras">
                    <div class="hora" *ngFor="let hora of horas">
                        {{hora}}
                    </div>
                </div>
                <div class="dozeHoras">
                    <app-bloco 
                            *ngFor="let bloco of gd.getListaParaUpdate(); index as i" 
                            (click)="clickBloco(bloco,gd.getSelectedDiaDaSemana(),i)"
                            [bloco]="bloco" 
                            [blocoIsSelected]="blocoIsSelected(diaDaSemana,i)">
                    </app-bloco>
                </div>
            </div>
        </div>
    </div>
</div>